*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-shadow: 1px 1px 2px #fff;
}

/* Display: Inline-Flex */
header, .menu-list {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;

}
/* menu-list */
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 0 10px;
    padding: 0;
}
.menu-list {
    margin-left: auto;
    align-self: center;
}
.menu-list li a {
    color:black;
    padding: 5px;
    text-decoration: none;
  }
  .menu-list li a:hover {
    color: black;
    background-color:plum;
  }
table {
    border: 3px solid black;
    border-collapse: collapse;
}
body {
    background-image: url('https://i.postimg.cc/wMyj1kqp/AGW.webp');
    background-size: cover;
}
header img {
    width: 9em;
}
th, td {
    border: 2px solid red;
    text-align: center;
}
/* footer */
footer p {
    font-weight: bolder;
}
h2 {
    color: brown;
}
main img {
    width: 9em;
}
.ds {
    width: 15em;

}
.truly-special {
    display: inline-flex;

}

